@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Azeret Mono", monospace;
}

/* sheared style star here  */

.primary-font-color {
  color: rgb(13, 19, 33);
}
.secondary-font-color {
  color: rgba(13, 19, 33, 0.7);
}

/* sheared style End here  */

/* header section style start here  */
.header {
  width: 100%;
  height: 70px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8%;
}
.logo {
  font-size: 28px;
  font-weight: 800;
  color: rgb(13, 19, 33);
}
nav button {
  padding: 12px 13px;
  letter-spacing: 0%;
  color: rgb(255, 255, 255);
  background-color: rgb(13, 19, 33);
  border: none;
  border-radius: 4px;
  transition: ease 400ms;
  cursor: pointer;
}
nav button:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(13, 19, 33);
  border: 1.5px solid black;
}
/* header section style end here  */

/* hero section start here  */

.hero-container {
  background: url(assets/Hero-bg.png);
  width: 1348px;
  height: 620px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  text-align: center;
}
.hero-content {
  width: 650px;
}
.hero-content img {
  padding-top: 70px;
  width: 220px;
}
.hero-content .hero-title {
  padding: 20px;
  font-size: 30px;
  padding-bottom: 20px;
}
.hero-describtion {
  font-size: 14px;
  opacity: 0.7;
  font-weight: 400;
  padding-bottom: 50px;
}
.hero-btn {
  padding: 14px 15px;
  letter-spacing: 0%;
  color: rgb(255, 255, 255);
  background-color: rgb(13, 19, 33);
  border: none;
  border-radius: 4px;
  transition: ease 400ms;
  cursor: pointer;
}
.hero-btn:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(13, 19, 33);
  border: 1.5px solid black;
}

/* hero section style end here  */

/* learn development style start here  */
.learn-dev-container {
  width: 1040px;
  height: 1140px;
  margin: 0 auto;
  padding-top: 70px;
  border: 2px solid red;
}
.learn-dev-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.learn-dev-header-title {
  font-size: 28px;
}
.learn-dev-header-describtion {
  width: 750px;
  padding-top: 25px;
  font-size: 14px;
  opacity: 0.7;
  font-weight: 400;
}
.learn-dev-main-container {
  display: flex;
  padding-top: 80px;
  justify-content: space-around;
  align-items: center;
}
.learn-dev-main-content {
  width: 400px;
}
.dev-main-title {
  padding-bottom: 16px;
}
.dev-main-describtion {
  font-size: 14px;
  opacity: 0.7;
  font-weight: 400;
  padding-bottom: 30px;
}
.learn-dev-main-content button {
  padding: 9px 13px;
  font-size: 16px;
  text-decoration: none;
  background-color: rgb(255, 255, 255);
  border: none;
  border: 1px solid rgba(13, 19, 33, 0.7);
  border-radius: 4px;
  cursor: pointer;
}
.learn-dev-main-content button a {
  text-decoration: none;
  color: rgba(13, 19, 33, 0.7);
}
.dev-main-image img {
  width: 220px;
}

/* learn development style end  */

/* inspiration section style start here  */
.inspire-container {
  width: 1040px;
  height: 790px;
  border: 2px solid tomato;
  margin: 70px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.inspire-content h1 {
  padding-top: 20px;
  font-size: 28px;
  padding-bottom: 30px;
}
.inspire-content p {
  font-size: 14px;
  opacity: 0.7;
  width: 750px;
  padding-bottom: 120px;
}
.inspire-content iframe {
  border-radius: 15px;
}
/* inspiration section style end here  */
